.stamp-cards {
    width: 100%;
    max-width: 340px;
    margin: 25px 0;
    border: 1px solid black;
    padding: 15px 12px 15px 12px;
  }
  
  .stamp-title {
    font-size: 20px;
    margin-bottom: 8px;
    padding-left: 5px;
  }
  
  .stamps-container {
    display: flex;
    justify-content: center;
    flex-direction: column;
  }
  
  .stamps {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 10px;
    width: 100%;
  }
  
  .stamps img {
    height: 50px;
    width: 50px;
  }
  
  .redeem-container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 5px;
  }
  
  .redeem-btn {
    margin: 0 auto;
    margin-top: 15px;
    border-radius: 8px;
    height: 40px;
    display: flex;
    align-items: center;
  }
  
  .stars-needed {
    margin-top: 5px;
  }
  